.grid{
    max-width: 1024px;
    margin: 0 auto;
   }
   .gutter-sizer{
       width: 1%;
   }
   .grid-sizer,
   .grid-item {
     width: 32.3%;
   }
   .grid-item{
            margin-bottom: 10px;
       img{
           background: #D8D5D2;
           width: 100%;
       }
   }